[data-theme="dark"] {
  --primary-color: #1f1530;
  --primary-color-transparent: rgba(31, 21, 48, 0.7);
  --secondary-color: #32224d;
  --tertiary-color: #d8d0e3;
  --quaternary-color: #f2edf7;
  --quaternary-color-transparent05: rgba(242, 237, 247, 0.5);
  --quaternary-color-transparent025: rgba(242, 237, 247, 0.25);
  --quinary-color: #4da8da;
  --quinary-color-transparent: rgba(77, 168, 218, 0.4);
  --complementary-primary: #9fd3c7;
  --background-color: #140f1f;
  --text-color: #f8f8fb;
}
